.carousel-wrapper {
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.carousel {
    transform-style: preserve-3d;
}

.carousel__photo {
    opacity: 0;
    position: absolute;
    max-width: 100%;
}

.carousel__photo.active {
    opacity: 1;
    position: relative;
}